{% extends 'base.html.twig' %}
{% form_theme form 'default/form_theme.html.twig' 'jquery.collection.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ dump(def) }}
                    {{ dump(form) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.label) }}
                    {{ form_row(form.term) }}
                    {{ form_row(form.definition) }}
                    {{ form_row(form.extendedDefinition) }}

                    {{ form_row(form.subdefinitions) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_rest(form) }}
                    <button type="submit">Submit</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
    $('.parent-collection').collection({
        fade_in: false,
        fade_out: false,
        min: 0,
        up: '<a href="#" class="btn btn-default">Move subdefintion up</a>',
        down: '<a href="#" class="btn btn-default">Move subdefintion down</a>',
        add: '<a href="#" class="btn btn-default">Add subdefintion</a>',
        remove: '<a href="#" class="btn btn-default">Remove subdefintion</a>',
        prefix: 'parent',
        children: [{
            selector: '.child-collection',
            add: '<a href="#" class="btn btn-default">Add</span></a>',
            fade_in: false,
            fade_out: false,
        }],
    });
    </script>
{% endblock %}
