{% block SubdefinitionType_label %}{% endblock %}
{% block SubdefinitionType_errors %}{% endblock %}

{% block SubdefinitionType_widget %}
    <div style="border: 1px solid #000000; padding: 30px; background: #dfdfdf; margin-bottom: 15px;">

        <div class="row">
            <div class="col-md-8">
                {{ form_row(form.label) }}
                {{ form_row(form.term) }}
                {{ form_row(form.definition) }}
                {{ form_row(form.extendedDefinition) }}
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <a href="#" class="collection-up btn btn-default">Up</a>
                    <a href="#" class="collection-down btn btn-default">Down</a>
                </div>
                <div class="btn-group">
                    <a href="#" class="collection-add btn btn-default">Insert</a>
                    <a href="#" class="collection-remove btn btn-default">Remove</a>
                </div>
            </div>
        </div>

        {% if form.subdefinitions is defined %}
            <div class="row">
                <div class="col">
                    {{ form_row(form.subdefinitions) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}